$font-stack: 'Raleway', sans-serif;
$primary-color: #252434;
$secondary-color: #f9aea4;
$secondary-color-darker: #fb9a88;
$secondary-color-complement: #584b4f;
$tertiary-color: #226654;
$tertiary-color-darker: #18483b;
$quaternary-color: #f7f8f8;
$error-color: #a82026;
