@import 'variables';

.designer-page {
  height: 100%;
  overflow: auto;
}

.designer-welcome-box {
    position: fixed;
    width: 60%;
    height: 200px;
    background-color: rgba(249, 174, 164, .9);
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 20px;
    opacity: 1;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px solid rgba(249, 174, 164, .25);
    outline-offset: 10px;
    transform: translateY(-50%);
    animation: slide-in .35s forwards;
}

.slide-out {
    transform: translateY(-300%);
    animation: slide-out .35s forwards;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-text {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.designer-modal-subtitle {
    color: rgb(88, 75, 79);
    font-weight: 200;
    font-size: 1.2rem;
}
.hidden-modal-container {
    display: none;
    animation: hide .6s forwards;
}

@keyframes slide-in {
  0%   { transform: translateY(-300%); }
  100% { transform: translateY(-50%); }
}

@keyframes slide-out {
  0%   { transform: translateY(-50%); }
  100% { transform: translateY(-300%); }
}

@keyframes hide {
  0%   { display: flex; }
  100% { display: none; }
}
.confirm-button {
    border: none;
    padding: 10px 25px;
    background-color: $primary-color;
    font-size: 1rem;
    font-weight: 300;
    display: block;
    color: $secondary-color;
    border-radius: 3px;
    transition: background-color .4s linear;
    letter-spacing: .5px;
}
.confirm-button:hover {
    background-color: $tertiary-color-darker;
    color: $quaternary-color;
}
.content {
  display: flex;
  min-height: 100%;
  // padding: 80px 0 20px;
  margin: 13vh 10px 0;
}
aside.components-container {
  flex: 0.5;
}
main.canvas-container {
  border: 1px solid #584b4f;
  flex: 2.5;
  margin: 10px 20px 30px 0;
}
.canvas {
  height: 100%;
  background-color: $primary-color;
  position: relative;
}
.canvas-element {
  position: absolute;
  cursor: move;
}

.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
