@import 'variables';

.login-page {
    /* background-color: $secondary-color-darker; */
    /* original was: $secondary-color */
    background-color: $secondary-color;
    height: 100%;
    overflow: auto;
    font-family: $font-stack;
}

%shared-container {
    max-width: 70%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 20px 0;
}

.login-container {
    @extend %shared-container;
}

.login-title,
.register-title {
    text-align: center;
    font-weight: 100;
    margin: auto 0 70px;
    font-size: 5.5rem;
}

.main-container,
.register-main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 auto;
}

.login-form-container {
    border-right: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-image: linear-gradient(to bottom, $secondary-color 0%, $tertiary-color-darker 48%, $secondary-color 100%);
    border-image-slice: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 0;
}

.login-message {
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.input-container {
    padding: 18px 0;
    margin-bottom: 30px;
    position: relative;
}

.login-label {
    position: absolute;
    top: 1%;
    color: $secondary-color-complement;
    font-size: 1.33rem;
    animation: bigger-font 0.3s;
}

.login-input {
    width: 70%;
    font-size: 1.4rem;
    font-weight: 200;
    background: inherit;
    outline: none;
    border: none;
    font-family: $font-stack;
    position: absolute;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, .117188) 0%, rgb(88, 75, 79) 60%, rgba(0, 0, 0, .117188) 100%);
    border-image-slice: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3px 3px 3px 2px;
    color: $primary-color;
    animation: collapse-input 0.5s;
}

.login-input:focus {
    padding: 5px;
    animation: expand-input 0.5s;
}


.login-input:focus + .login-label {
    font-size: 1rem;
    animation: smaller-font 0.5s;
}

@keyframes expand-input {
  0%   { padding-bottom: 3px; }
  100% { padding-bottom: 5px; }
}

@keyframes collapse-input {
  0%   { padding-bottom: 5px; }
  100% { padding-bottom: 3px; }
}

@keyframes smaller-font {
  0%   { font-size: 1.33rem; }
  100% { font-size: 1rem; }
}

@keyframes bigger-font {
  0%   { font-size: 1rem; }
  100% { font-size: 1.33rem; }
}

.login-button,
.register-button,
.signup-button {
    background-color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 35px;
    font-size: 1rem;
    font-weight: 200;
    color: $quaternary-color;
    outline: none;
    border: 1px solid $primary-color;
    transition: background-color 0.2s linear;
    font-family: $font-stack;
    margin-right: auto;
    margin-top: 10px;
}

.login-button:hover,
.register-button:hover,
.signup-button:hover {
    background-color: $quaternary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    outline: none;
    font-weight: 400;
}

.social-login-container {
    padding-left: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alternative-login-title {
    text-align: center;
    line-height: 33px;
    font-size: 2.3rem;
}

.highlighted-text {
    color: $tertiary-color;
    font-weight: 700;
}
.social-icons-container {
    display: flex;
    justify-content: center;
    margin: 18px 0 0;
}

.social-login-button,
.google-login-button {
    border-radius: 50%;
    background-color: #4267b2;
    background: url(../assets/facebook.png) center/100% 100% no-repeat;
    border: none;
    color: $quaternary-color;
    width: 70px;
    height: 70px;
    outline: none;
    margin: 0 10px 0;
}

.google-login-button {
    background: url(../assets/google.png) center/100% 100% no-repeat;
}

.new-account-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-account-message {
    margin: 50px 0 0;
    text-align: center;
    font-size: 1.9rem;
}

.signup-button {
    background-color: $tertiary-color;
    border: 1px solid $tertiary-color;
    margin: 15px auto 0;
    padding: 10px 30px;
}

.signup-button:hover {
    background-color: $tertiary-color-darker;
    border: 1px solid $tertiary-color-darker;
    color: $quaternary-color;
    font-weight: 200;
}

.notification-message {
    background: url(../assets/success.png) 8px 50%/18px no-repeat;
    font-size: 1.2rem;
    padding: 10px 10px 10px 35px;
    background-color: $tertiary-color;
    color: $quaternary-color;
    font-weight: 400;
    margin: 0 auto 35px 0;
    border-radius: 5px;
    animation: fade 0.5s;
}

.error {
    background: url(../assets/error.png) 8px 50%/18px no-repeat;
    background-color: $error-color;
}

@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.visible {
    visibility: visible;
}


.register-container {
    @extend %shared-container;
    justify-content: center;
}

.register-button {
    letter-spacing: 1px;
    background: url(../assets/right-white-arrow.png) 83px 50%/18px no-repeat $primary-color;
    padding: 13px 35px 13px 20px;
}

.register-button:hover {
    letter-spacing: 1px;
    background: url(../assets/right-black-arrow.png) 83px 50%/18px no-repeat  $quaternary-color;
    padding: 13px 35px 13px 20px;
    color: $primary-color;
}

.redirect-container {
    margin: 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redirect-message {
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    margin-right: 0;
}

.error-tooltip {
    position: absolute;
    background-color: $error-color;
    color: $quaternary-color;
    padding: 9px 10px;
    width: 70%;
    text-align: center;
    bottom: 5px;
    font-size: 1.2rem;
    z-index: 3;
    font-weight: 200;
    letter-spacing: 0.4px;
    animation: fade 0.3s;
}

.error-tooltip:after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 8px solid rgba(0, 30, 84, 0);
    border-right: 8px solid transparent;
    border-top: 8px solid $error-color;
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 4;
    margin-left: -6px;
}
