.profile-page {
    height: 100vh;
    font-family: "Raleway", sans-serif;
}

header.profile-header {
    height: 10vh;
    border-bottom: 1px solid #584b4f;
    box-shadow: 0 1px 5px 0 rgba(249, 174, 164, .25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.logout-button {
    background-color: #fb9a88;
    border: 1px solid #252434;
    color: #252434;
    padding: 8px 13px;
    font-size: 1.4rem;
    margin-right: 30px;
    text-transform: capitalize;
    transition: background-color 0.3s linear;
    border-radius: 3px;
}

button.logout-button:hover {
    background-color: #252434;
    border: 1px solid #fb9a88;
    color: #fb9a88;
}

.profile-welcome-message {
    margin-left: 30px;
    font-weight: 400;
}

aside.sidebar {
    width: 15%;
    flex: 1;
    background-color: #fb9a88;
}

.avatar {
    max-width: 100px;
    height: 100px;
    margin: 40px auto 10px;
    display: block;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    height: 90vh;
}

main.profile-main-container {
    flex: 4;
    display: flex;
    justify-content: space-around;
}

.empty-container {
    padding: 30px 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-websites-message {
    color: #fb9a88;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    line-height: 40px;
}

.profile-navigation-button {
    background-color: inherit;
    border: 1px solid #fb9a88;
    color: #fb9a88;
    padding: 15px;
    margin: 30px auto;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.6px;
    transition: background-color 0.3s linear;
    border-radius: 3px;
    text-decoration: none;
    display: block;
}

.profile-navigation-button:hover {
    background-color: #fb9a88;
    border: 1px solid #fb9a88;
    color: #252434;
}
