@media only screen and (min-width: 900px ) {
    .settings-block {
        flex-direction: row;
    }
    .update-avatar-container {
        margin-top: 0;
    }

}
@media only screen and (min-width: 1100px ) {
    .settings-container {
        width: 50%;
    }
}


@media only screen and (min-width: 1450px ) {
    .login-container,
    .register-container {
        width: 50%;
    }

    .login-title,
    .register-title {
        font-size: 6.3rem;
    }

    aside.sidebar {
        flex: 0.7;
    }

    .settings-container {
        width: 40%;
    }
}
