@media only screen and (min-width: 700px ) {
    .settings-container {
        width: 65%;
    }
    .user-info-container {
        flex-basis: 55%;
    }
    .save-button {
        margin: 30px auto 0 0;
        padding: 13px 18px;
    }
    .settings-block {
        flex-direction: row;
        padding: 20px 30px 55px;
        justify-content: space-between;
    }
    .update-avatar-container {
        margin-top: 0;
        margin-right: 30px;
    }
    .profile-welcome-message {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 900px ) {
    .settings-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
    }
    .settings-block {
        flex-basis: 55%;
    }
    .settings-block.centered-content {
        flex-basis: 40%;
        justify-content: center;
        width: 100%;
    }

    .settings-input-container {
        margin-bottom: 30px;
    }

    .update-avatar-container {
        margin-right: 15px;
    }
    .user-info-container.centered-content {
        flex-basis: auto;
        width: 85%;
    }
    .avatar {
        width: 100px;
        height: 100px;
        padding: 8px;
    }
    .no-websites-message {
        font-size: 2.4rem;
    }
    .modal-text {
        font-size: 2rem;
        line-height: 30px;
    }
    .designer-modal-subtitle {
        font-size: 1.7rem;
    }
    .confirm-button {
        font-size: 1.2rem;
        padding: 13px 30px;
    }
}

@media only screen and (min-width: 1100px ) {
    .settings-container {
        width: 70%;
    }
    .settings-avatar {
        width: 110px;
        height: 110px;
        padding: 10px;
    }
    .profile-navigation-button {
        font-size: 1.4rem;
        padding: 15px;
    }
    .no-websites-message {
        font-size: 2.5rem;
        line-height: 33px;
    }
    .profile-welcome-message {
        font-size: 1.7rem;
    }
    .avatar {
        width: 110px;
        height: 110px;
        padding: 10px;
    }

}

@media only screen and (min-width: 1450px ) {
    .login-container,
    .register-container {
        width: 50%;
    }

    .login-title,
    .register-title {
        font-size: 6.3rem;
    }

    aside.sidebar {
        flex: 0.7;
    }

    .settings-container {
        width: 65%;
    }
    .settings-block {
        flex-basis: 50%;
    }
    .settings-block.centered-content {
        flex-basis: 45%;
    }
    .avatar {
        width: 120px;
        height: 120px;
        padding: 13px;
    }
    .profile-welcome-message {
        font-size: 2.1rem;
    }
    .modal-text {
        font-size: 2.4rem;
    }
    .designer-modal-subtitle {
        font-size: 2.1rem;
    }
    .confirm-button {
        font-size: 1.5rem;
        padding: 15px 35px;
    }

}
